* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "roboto";
    padding-top: 60px;
    overflow-x: hidden;
}

.navbar {
    background-color: white; 
    color: #333;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    position: fixed; 
    top: 0; 
    width: 100%; 
    height: 10vh;
    z-index: 1000; 
}

.navbar_logo {
    display: flex;
    align-items: center;
    text-decoration: none;
    color: #333;
    font-size: 24px;
    font-weight: bold;
}

.nav_content {
    text-align: center;
    position: relative;
    width: 100%;
    height: 100%;
}

.nav_menu {
    list-style: none;
    padding: 0;
}

.nav_items {
    margin-bottom: 15px;
    padding: 5px 20px;
}

.nav_link {
    text-decoration: none;
    color: #000000;
    font-size: 18px;
    display: block;
    position: relative;
    padding: 10px 20px;
    transition: color 0.3s, transform 0.3s; 
}

.nav_link::before,
.nav_link::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    height: 2px;
    background: linear-gradient(to right, rgba(255, 165, 0, 0), rgba(255, 165, 0, 1), rgba(255, 165, 0, 0));
    transition: width 0.3s, left 0.3s;
}

.nav_link::before {
    width: 0;
}

.nav_link::after {
    width: 0;
    bottom: -4px; 
}

.nav_link:hover::before {
    width: 100%;
    left: 0;
}

.nav_link:hover {
    transform: none; 
}

.nav_link.active {
    color: orange;
}

.nav_link.active::before {
    width: 120%;
    left: -10%;
}

.nav_link.active::after {
    width: 80%;
    left: 10%;
}

.nav_auth {
    margin-top: auto; 
}

.auth {
    background-color: rgba(255, 165, 0, 0.5); 
    color: rgb(0, 0, 0);
    padding: 10px 30px; 
    border-radius: 5px;
    transition: background-color 0.3s;
    margin: 0 5px; 
    box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.1); 
}

.auth:hover {
    background-color: orange; 
}

@media (min-width: 769px) {
    .nav {
        display: block;
    }

    .nav_content {
        display: flex;
        justify-content: space-between;
    }

    .nav_menu {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .nav_items {
        margin: 0 10px;
    }

    .nav_auth {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 0;
    }

    .navbar_toggle, .close_btn {
        display: none;
    }
}

@media (max-width: 768px) {
    .navbar_toggle {
        display: block;
        font-size: 28px;
        cursor: pointer;
    }

    .nav {
        position: fixed;
        top: 0;
        right: -100%;
        width: 250px;
        height: 100%;
        background-color: #ffffff;
        transition: right 0.3s;
        display: flex;
        flex-direction: column;
        align-items: center;
        padding-top: 20px;
    }

    .nav.active {
        right: 0;
    }

    .close_btn {
        position: absolute;
        top: 10px;
        right: 10px;
        font-size: 28px;
        cursor: pointer;
        color: #333;
        transition: color 0.3s;
    }

    .close_btn:hover {
        color: orange;
    }

    .nav_menu {
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
    }

    .nav_items {
        margin: 5px 0;
        padding: 10px 20px;
    }

    .nav_link {
        position: relative;
        padding: 10px 20px;
        border-radius: 5px;
        transition: background-color 0.3s;
    }

    .nav_link::before, .nav_link::after {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;
        height: 2px;
        background: linear-gradient(to right, rgba(255, 165, 0, 0), rgba(255, 165, 0, 1), rgba(255, 165, 0, 0));
        transition: width 0.3s, left 0.3s;
    }

    .nav_link::before {
        width: 0;
    }

    .nav_link::after {
        width: 0;
        bottom: -4px; 
    }

    .nav_link:hover::before {
        width: 100%;
        left: 0;
    }

    .nav_link.active::before {
        width: 120%; 
        left: -10%;
    }

    .nav_link.active::after {
        width: 80%; 
        left: 10%;
    }

    .nav_auth {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin-top: auto; 
        padding: 20px 0; 
    }

    .auth {
        margin: 10px 0;
        width: 80%;
        text-align: center;
    }
}

.home_main {
    position: absolute;
    width: 100%;
}

.home_vcontainer{
    float: right;
    padding: 20px;
    padding-top: 11%;
    background: url(media/img_home.jpg);
}

.home_title1, .home_title2 {
    font-family: 'Merriweather', serif;
    font-weight: 900;
    font-size: 60px;
    padding-left: 30px;
    color: rgb(229, 184, 11);
    text-align:left;
    font-size: clamp(1.5rem, 3vw + 1.5rem, 4rem);
    user-select: none;
}

.block_container {
    height: 90vh;
    width: 100%;
    display: fixed;
    position: relative;
}   

.home_title1::before{
    content: "When ";
    color: black;
}
.home_title2::before{
    content: "Meets ";
    color: black;
}

.title_container{
    background-color: white;
    height: 100%;
    width: 55vw;
    min-width: 800px;
    padding-top: 35vh;  
}

.home_content.visible {
    opacity: 1;
}

.background{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    background: linear-gradient(0, rgb(255, 244, 223) 30%, white 70%) /* Example background with 50% opacity */
}

.explore_section.visible {
    opacity: 1; 
}

.explore_image {
    display: none;
}

.explore_text {
    padding: 30px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    position: relative; 
}

.explore_title {
    font-size: 65px;
    color: #FFA500;
    margin-bottom: 20px;
    font-family: 'Merriweather', serif;
    left: 20%;
    position: relative; 
}

.explore_description {
    font-size: 35px;
    color: #333;
    text-align: left; 
    left: 20%;
    margin-top: 50px; 
    position: relative; 
}

@media (min-width: 768px) {
    .explore_section {
        flex-direction: row;
        justify-content: space-between; 
    }

    .explore_image {
        flex: 1;
        margin-bottom: 0;
    }

    .explore_text {
        flex: 2;
        text-align: left;
    }

    .explore_title {
        left: 15%;
    }

    .explore_description {
        left: 15%; 
        margin-top: 50px; 
        color: rgba(71, 35, 6, 0.728);
    }
}

.about_main {
    position: relative;
    padding: 0px;
    min-height: 100vh; 
}

.about_description {
    position: relative;
    padding: 50px;
    padding-bottom: 5px;
}

.about_logo{
    width: 200px;
    float: right;
    min-width: 350px;
    margin: 20px;
    margin-left: 50px;
    margin-right: 0px;
    animation: fadeInRightTitle 2s ease-in-out;
}

.about_title {
    font-size: 40px;
    margin-bottom: 10px;
    color:black;
    font-weight: bold;
    text-align: center;
    animation: fadeInRightTitle 2s ease-in-out;
}

.about_text {
    font-size: 30px;
    padding: 20px;
    position: relative;
    margin-top: 30px;
    margin-left: 50px;
    margin-bottom: 50px;
    text-align: justify;
    animation: fadeInRightText 2.5s ease-in-out;
}

.about_text::before {
    width: 100%;
    height: 2px;
    background: linear-gradient(to right, rgba(0, 0, 0, 0), black, rgba(0, 0, 0, 0));
    position: absolute;
    margin-top: 10px;
    left: 0;
}

.about_slogan{
    width: 100vw;
    color: white;
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1.5rem);
    background: rgb(255,222,89);
    background: linear-gradient(90deg, rgba(255,222,89,1) 0%, rgba(255,145,77,1) 100%);
    height: 13vh;
    padding-top: 20px;

}


@keyframes fadeInRight {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.about_footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #324278;
    color: white;
    text-align: center;
    padding: 15px;
    font-size: 20px;
}

@keyframes fadeInRightTitle {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes fadeInRightText {
    0% {
        opacity: 0;
        transform: translateX(100%);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.header {
    background-color: #ffd700;
    color: black;
    text-align: center;
    padding: 20px;
    margin-top: 0;
    font-size: clamp(0.5rem, 1vw + 0.5rem, 1.5rem);
}

.browse-box{
    border-radius: 12px;
    border: #000000 solid 1px;
    width: 200px;
    text-align: center;
    padding: 10px;
    font-size: 20px;
    float: right;
    height: 50px;
    background-color: #f8b31a;
}

.down_container{
    background-color: #ffc005;
    width: 100vw;
}